#containerHeader{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: black;
    color: #fff;
    height: 8vh;
}
#imgNasa{
    height: 10vh;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
}